.itemNameInput {
  /* margin-top: 20px; */
  height: 40px;
  width: 70%;
  font-size: 20px;
  color: #58a4b0;
  border: 1px solid black;
  border-radius: 5px;
}

.headingCategory {
  margin-bottom: 5px;
}

.ingredientsInput {
  height: 40px;
  width: 80%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.pizzaBaseInput {
  height: 40px;
  width: 20%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.priceInput {
  height: 40px;
  width: 10%;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.vegetarianInput {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}
.vegetarianInput h3 {
  margin-top: 5px;
}
.vegetarianInput input {
  transform: scale(1.5); /*this line makes the checkbox bigger*/
  margin-left: 15px;
}

.pizzaSizePanel {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.pizzaSizeInput,
.pizzaSizePriceInput {
  height: 100%;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.pizzaSizePanel button {
  height: 50%;
  background-color: transparent;
  border: none;
}
.pizzaSizePanel img {
  height: 100%;
}

.weightInput {
  height: 40px;
  width: 90px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.pastaTypeInput {
  height: 40px;
  width: 110px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.saveItem {
  /* height: 10px;
  width: 100%; */
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  justify-content: right;
  padding-right: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.saveButton {
  height: 40px;
  width: 150px;
  background-color: #609e29;
  border-radius: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveButton:hover {
  /* background-color: #63b21e; */
  background-color: rgb(95, 95, 253);
}

.addPizzaSizeButton {
  height: 40px;
  width: 150px;
  background-color: rgb(95, 95, 253);
  border: 2px solid blue;
  border-radius: 5px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.addPizzaSizeButton:hover {
  color: rgb(95, 95, 253);
  background-color: white;
}

@media (max-width: 780px) {
  .saveItem {
    padding-right: 0px;
    justify-content: center;
  }
  .saveButton {
    width: 90%;
    height: 45px;
  }
}
.errorBox {
  height: 30px;
  width: 100%;
}

.errorMessage {
  font-size: 18px;
  color: red;
}

.switchHolder {
  margin-top: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 60px;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #63b21e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #63b21e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
